@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin 'tailwind-scrollbar';
body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {

  :root  {
    --background: 215 0% 100%;
    --foreground: 215 0% 10%;
    --card: 215 0% 100%;
    --card-foreground: 215 0% 15%;
    --popover: 215 0% 100%;
    --popover-foreground: 215 95% 10%;
    --primary: 215 79% 51%;
    --primary-foreground: 0 0% 100%;
    --secondary: 215 10% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 177 10% 95%;
    --muted-foreground: 215 0% 40%;
    --accent: 177 10% 90%;
    --accent-foreground: 215 0% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 215 0% 100%;
    --border: 215 20% 82%;
    --input: 215 20% 50%;
    --ring: 215 79% 51%;
    --radius: 0.3rem;
  }
  .dark  {
    --background: 215 10% 5%;
    --foreground: 215 0% 90%;
    --card: 215 0% 0%;
    --card-foreground: 215 0% 90%;
    --popover: 215 10% 5%;
    --popover-foreground: 215 0% 90%;
    --primary: 215 79% 51%;
    --primary-foreground: 0 0% 100%;
    --secondary: 215 10% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 177 10% 15%;
    --muted-foreground: 215 0% 60%;
    --accent: 177 10% 15%;
    --accent-foreground: 215 0% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 215 0% 90%;
    --border: 215 20% 18%;
    --input: 215 20% 18%;
    --ring: 215 79% 51%;
    --radius: 0.3rem;
  }

}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.border-spin-image {
  position: relative;
}
.border-spin-image::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background-image: url('../../public/images/signal/token-border.svg');
  background-size: contain;
  animation: border-spin 4s linear infinite;
  z-index: 0;
}

@keyframes border-spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@keyframes dots {
  0%, 100% { opacity: 1; }
  33% { opacity: 0; }
  66% { opacity: 1; }
}

.animate-dots {
  animation: dots 1.5s infinite;
}

.animation-delay-200 {
  animation-delay: 0.2s;
}

.animation-delay-400 {
  animation-delay: 0.4s;
}

.lg-backdrop {
  background-color: rgba(0, 0, 0, 0.6) !important; /* 60% 透明黑色 */
}