@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {

  :root  {
    --background: 195 20% 95%;
    --foreground: 195 5% 10%;
    --card: 195 20% 90%;
    --card-foreground: 195 5% 15%;
    --popover: 195 20% 95%;
    --popover-foreground: 195 95% 10%;
    --primary: 195 100% 66.1%;
    --primary-foreground: 0 0% 0%;
    --secondary: 195 20% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 157 20% 85%;
    --muted-foreground: 195 5% 35%;
    --accent: 157 20% 80%;
    --accent-foreground: 195 5% 15%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 195 5% 90%;
    --border: 195 20% 50%;
    --input: 195 20% 18%;
    --ring: 195 100% 66.1%;
    --radius: 0.3rem;
  }
  .dark  {
    --background: 195 20% 10%;
    --foreground: 195 5% 90%;
    --card: 195 20% 10%;
    --card-foreground: 195 5% 90%;
    --popover: 195 20% 5%;
    --popover-foreground: 195 5% 90%;
    --primary: 195 100% 66.1%;
    --primary-foreground: 0 0% 0%;
    --secondary: 195 20% 18%;
    --secondary-foreground: 0 0% 100%;
    --muted: 157 20% 18%;
    --muted-foreground: 195 5% 60%;
    --accent: 157 20% 18%;
    --accent-foreground: 195 5% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 195 5% 90%;
    --border: 195 20% 18%;
    --input: 195 20% 18%;
    --ring: 195 100% 66.1%;
    --radius: 0.3rem;
  }

}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.border-spin-image {
  position: relative;
}
.border-spin-image::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background-image: url('../../public/images/signal/token-border.svg');
  background-size: contain;
  animation: border-spin 4s linear infinite;
  z-index: 0;
}

@keyframes border-spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@keyframes dots {
  0%, 100% { opacity: 1; }
  33% { opacity: 0; }
  66% { opacity: 1; }
}

.animate-dots {
  animation: dots 1.5s infinite;
}

.animation-delay-200 {
  animation-delay: 0.2s;
}

.animation-delay-400 {
  animation-delay: 0.4s;
}